textarea {
    min-height: 400px;
}

li {
    list-style-type: none;
}

tr:hover {
    border: 0.5px solid rgb(0, 0, 0);
}

#email-view button {
    margin: 2px;
    margin-top:30px ;

}

.table {
    margin-bottom: 0px;
    border: 0.5px solid rgb(187, 187, 187);
}